.btn {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

#buttons {
  width: 100%;
  position: fixed;
  bottom: 60px;
  text-align: center;
  margin: auto;
  visibility: hidden;
}
