#tool-list {
  overflow: hidden;
  width: 760px;
  margin: 0 auto;
}

.tool-item {
  font-family: Roboto;
  color: black;
  padding: 20px;
  float: left;
  display: inline;
  text-align: left;
  width: 45%;
  margin: 2.5%;
  background-color: var(--light-grey);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  position: relative;
  top: 0px;
  box-shadow: 0px 4px 0px #606060;
}

.tool-item:hover {
  top: 1px;
  box-shadow: 0px 3px 0px #606060;
}

.tool-item:active {
  top: 4px;
  box-shadow: 0px 0px 0px #606060;
}

.glyphicons {
  vertical-align: middle;
}
