{% extends 'global/header.html' %}
{% load static %}
{% load staticfiles %}
{% block content %}
<link rel="stylesheet" href="{% static 'mhp/mhp_signup.css' %}">
  <h2 id="page-title">Sign up</h2>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
        <div class="form-item">{{ field.label_tag }}<br>
          <div class="field">
        {{ field }}
      </div>
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </div>
    {% endfor %}
    <button type="submit" class="btn btn-success">Sign up</button>
  </form>
{% endblock %}
